<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DhatriHRMSample</display-name>
  <welcome-file-list>
    <welcome-file>Dhatri.html</welcome-file>
    <welcome-file>UpdateEmp.jsp</welcome-file>
    <welcome-file>Delete.jsp</welcome-file>
    <welcome-file>Welcome.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Dhatri</servlet-name>
    <servlet-class>com.dhatriinfo.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dhatri</servlet-name>
    <url-pattern>/dhatriHrm</url-pattern>
  </servlet-mapping>
</web-app>